body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	margin: 200px;
}

.flex {
	display: flex;
}

.background-white {
	background-color: white;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.items-center {
	align-items: center;
}

.items-end {
	justify-content: flex-end;
}

.text-white {
	color: white;
}

.text-gray {
	color: gray;
}

.text-red {
	color: red;
}

.background-gray {
	background-color: gray;
}

.text-large {
	font-size: large;
}

.text-small {
	font-size: small;
}

.text-smaller {
	font-size: x-small;
	font-weight: 300;
}

.padding-10 {
	padding: 10px;
}

.padding-20 {
	padding: 20px;
}

.padding-30 {
	padding: 30px;
}

.pl-5 {
	padding-left: 5px;
}

.button-padding {
	padding: 15px 45px;
}

.text-times-new-roman {
	font-family: "Times New Roman", Times, serif;
}

.light-font {
	font-weight: 300;
}

.lighter-font {
	font-weight: lighter;
}

.section-number {
	border-radius: 50%;
	border: 1px solid black;
	font-size: small;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}
.section-number-dark {
	border-radius: 50%;
	background-color: black;
	color: white;
	font-size: small;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}

.text-input {
	display: block;
	margin: 10px 0;
	padding: 8px;
	box-sizing: border-box;
	width: 100%;
}

.checkbox-round {
	width: 1.3em;
	height: 1.3em;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #ddd;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.checkbox-round:checked {
	background-color: gray;
}

.checkbox-round:disabled {
	cursor: not-allowed;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-wrap {
	flex-wrap: wrap;
}

.text-input:focus {
	outline: none;
}

.height-auto {
	height: auto;
}

.width-40 {
	width: 40%;
}

.width-45 {
	width: 45%;
}

.width-50 {
	width: 50%;
}

.width-60 {
	width: 60%;
}

.width-70 {
	width: 70%;
}

.width-full {
	width: 100%;
}

.margin-left-10 {
	margin-left: 50px;
}

.margin-right-10 {
	margin-right: 10px;
}

.timeslot-margin {
	margin-left: 50px;
	margin-bottom: 10px;
}

.margin-tb-10 {
	margin: 10px 0;
}

.margin-b-10 {
	margin-bottom: 10px;
}

.border-1 {
	border: 1px solid lightgray;
}

.border-none {
	border: none;
}

.spaced-letters {
	letter-spacing: 1.5px;
}

button:disabled {
	cursor: not-allowed;
}

.date-picker-button {
	display: flex;
	align-items: center;
	gap: 8px;
	background: none;
	color: black;
	border-radius: 8px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	border: none;
}

.date-picker-button:focus {
	outline: none;
}

.date-picker-icon {
	font-size: 18px;
}

.date-picker-dropdown {
	background-color: white;
	border-radius: 8px;
	position: absolute;
	opacity: 100%;
	right: 0;
	z-index: 10;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.date-slider {
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
	border: 1px solid lightgray;
}

.dates-wrapper {
	width: 100%;
	padding: 5px;
	overflow: hidden;
}

.dates-container {
	display: flex;
	transition: transform 0.3s ease-in-out;
}

.date-item {
	padding: 10px 5px;
	margin: 5px;
	cursor: pointer;
	text-align: center;
	min-width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.date-item.selected {
	background-color: lightgray;
	border: 1px solid black;
}

.arrow-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 24px;
}

.arrow-button:disabled {
	cursor: not-allowed;
	color: gray;
}

.strikethrough {
	color: lightgray;
	text-decoration: line-through;
}
